*.exe
*.swp
day02/day02
day02/day02part2
day03/day03
day03/day03part2
day04/day04
day04/day04part2
day05/day05.exe
day05/day05part2.exe
day06/day06.exe
day06/day06part2.exe
day06/*.exe
day07/*.exe
day08/*.exe
day09/day09
